div {
  width: 100px;
  height: 100px;
  gap: 3px;
  align-items: center;
  font-size: 40px;
}
.allBoxes {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 5px;
  justify-items: center;
  background-color: #000;
  opacity: 0.5;
  color: #fff;
}
header {
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}
main {
  text-align: center;
}
body {
  background-image: url("https://i.pinimg.com/originals/1b/ff/68/1bff68e01ff5e6a01b9c405a69bac8bb.jpg");
}
html {
  font-family: "Graffiti font", "Graffiti Street", "Permanent Marker",
    sans-serif;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  border-bottom: rgb(180, 116, 180) 1px solid;
}
.box1,
.box2,
.box4,
.box5,
.box7,
.box8 {
  border-right: rgb(180, 116, 180) 1px solid;
}
.winner {
  position: absolute;
  left: 20px;
  font-size: 55px;
  transform: rotate(12deg);
  color: #fff;
  opacity: 0.8;
}
.playerNames {
  color: #fff;
  opacity: 0.9;
  font-size: 1rem;
}
@media only screen and (max-width: 1190px) {
  .winner {
    position: absolute;
    top: 550px;
  }
}
