div {
  width: 100px;
  height: 100px;
  border: solid 3px black;
  border-right: solid 3px #b990aa;
  border-bottom: wave 2px #6482b4;
  gap: 3px;
  align-items: center;
  font-size: 40px;
}
.allBoxes {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 5px;
  justify-items: center;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
main {
  text-align: center;
}
body {
  background-image: url("https://i.pinimg.com/originals/1b/ff/68/1bff68e01ff5e6a01b9c405a69bac8bb.jpg");
}
html {
  font-family: "Graffiti font", sans-serif;
}
